/* BONUS */

@media screen and (max-width:1200px){
    .container{
        max-width: 1200px;
        /* Messo per sovrascrivere la proprietà "width" della classe container che altrimenti rimane valida  */
        width: unset;
    }
}

/* RESPONSIVE TABLET */

@media screen and (max-width:768px){
    .container{
      max-width: 768px;
      margin: 0 auto;
      padding: 0 20px;
      /* Messo per sovrascrivere la proprietà "width" della classe container che altrimenti rimane valida  */
      /* width: unset; */
    }
}

/* RESPONSIVE MOBILE  */

@media screen and (max-width:480px){

    .container{
        max-width: 480px;
        margin: 0 auto;
        padding: 0 20px;  
      }

    .row{
        flex-wrap: wrap;
        gap: 60px;
    }

    /* LESSONS SECTION */
    .lessons .col{
        width: 100%;
    }

    /* STEPS SECTION */
    .steps .col{
        width: 100%;
    }

    /* WHY-US SECTION */
    .why-us .col{
        width: 100%;
    }

    .why-us{
    background-color: rgb(34, 34, 34) ;
    }
}
