/* BONUS */

/* Si potevano sovrascrivere direttamente le regole di default senza media query */
/* .container{
    max-width: 1140px;
    width: unset;
} */

/* Aggiungedo la query bonus, questa query risulta superflua visto che la condizione bonnus la copre */
@media screen and (max-width:1140px){
    .container{
        max-width: 1140px;
        /* Messo per sovrascrivere la proprietà "width" della classe container che altrimenti rimane valida  */
        width: unset;
    }
}

/* RESPONSIVE TABLET */

@media screen and (max-width:768px){
    .container{
      max-width: 768px;
      /* Messo per sovrascrivere la proprietà "width" della classe container che altrimenti rimane valida  */
      /* width: unset; */
    }
}

/* RESPONSIVE MOBILE  */

@media screen and (max-width:480px){

    .container{
        max-width: 480px; 
    }

    .row{
        flex-wrap: wrap;
        gap: 48px;
    }

    /* LESSONS SECTION */
    .lessons .col{
        width: 100%;
    }


    /* STEPS SECTION */
    .steps .col{
        width: 100%;
    }

    /* Regole per gstire il problema di colore dello sfondo */
    .steps{
        margin-bottom: 0;
    }

    /* WHY-US SECTION */
    .why-us .col{
        width: 100%;
    }

    .why-us{
        background-color: rgb(34, 34, 34) ;
        /* Regole per gestire il problema di colore di sfondo */
        padding: 3rem 0;
        margin-bottom: 0;
    }
}
